.footer {
  position: absolute;
  width: 100%;
  bottom: 0.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.bet_info {
  display: flex;
  text-align: center;
  justify-content: left;
  width: 23%;
  gap: 10%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;
  font-weight: 450;
  margin-bottom: 1rem;
}
.betinfotext {
  margin: 1rem;
  color: white;
  letter-spacing: 2px;
}
.chip {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.2vw solid white;
  position: relative;
  border-radius: 50%;
  padding: 0.2vw;
}
.chippanel {
  display: flex;
  justify-content: center;
  /* margin-top: 1rem; */
  gap: 4vw;
  margin-bottom: 2.5rem;
}
.chippanel img {
  width: 4vw;
  height: auto;
  cursor: pointer;
}
.stats {
  width: 25%;
}
.chipscontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
}
.chipvalues {
  position: absolute;
  /* bottom: 35%; */
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
}
.animate {
  opacity: 0;
}

@media screen and (max-width: 450px) {
  .footer {
    width: 100%;
    background-color: black;
  }
  .bet_info {
    width: 100%;
    justify-content: space-between;
  }
  .betinfotext {
    font-size: 0.8rem;
    white-space: nowrap;
    color: white;
  }
  .chippanel {
    display: none;
  }
  .stats {
    display: none;
  }
}
