.container {
  position: absolute;
  bottom: -2px;
  background-color: rgb(70, 70, 67);
  width: 100%;
}
.box {
  border: white;
  padding: 5px;
  display: flex;
  gap: 1rem;
  overflow: hidden;
  height: 20px;
  /* width: 100%; */
}
.text {
  border: 1px solid rgb(0, 0, 0);
  background-color: black;
  border-radius: 7px;
  font-weight: 700;
  width: 20px;
  padding: 2px 6px;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}
.red {
  color: red;
}
