body {
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
.main {
  background: linear-gradient(to right, #131a3d, #1f1886);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  text-align: center;
}
button {
  padding: 2vh 6vh;
  margin: 10vh 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 6vw;
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 1vw;
}

.front {
  display: block;
  padding: 2vh 6vh;
  border-radius: 12px;
  font-size: 2.25vw;
  font-weight: 600;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-8px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
/* <ul>
          <h3>Rules </h3>
          <li>1. Press the Start button to Play the game</li>
          <li>2. once bet is placed and timer is up , game will start</li>
          <li>3. stick to the timer no extra time will be given.</li>
          <li>
            4. bets and chip selection is in user hands, in limited time shown
            on the timer
          </li>
          <li>1. Press the Start button to Play the game</li>
        </ul> */
